
#header
  %a#logo{:href => root_path}
    %img{:src => "http://pixelthemes.net/flipbook/wp-content/themes/flipbook/images/dark_logo.png"}/
  %ul#nav.menu
    %li#menu-item-147.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-147
      %a
        %cufon.cufon.cufon-canvas{:alt => "Portfolio", :style => "width: 67px; height: 18px; "}
          %canvas{:height => "19", :style => "width: 76px; height: 19px; top: -1px; left: -2px; ", :width => "76"}
          %cufontext Portfolio
      %ul.sub-menu{:style => "display: none; "}
        %li#menu-item-152.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-152
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Type ", :style => "width: 42px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 57px; height: 19px; top: -1px; left: -2px; ", :width => "57"}
              %cufontext Type
            %cufon.cufon.cufon-canvas{:alt => "1", :style => "width: 10px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 20px; height: 19px; top: -1px; left: -2px; ", :width => "20"}
              %cufontext 1
        %li#menu-item-151.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-151
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Type ", :style => "width: 42px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 57px; height: 19px; top: -1px; left: -2px; ", :width => "57"}
              %cufontext Type
            %cufon.cufon.cufon-canvas{:alt => "2", :style => "width: 10px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 20px; height: 19px; top: -1px; left: -2px; ", :width => "20"}
              %cufontext 2
        %li#menu-item-150.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-150
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Type ", :style => "width: 42px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 57px; height: 19px; top: -1px; left: -2px; ", :width => "57"}
              %cufontext Type
            %cufon.cufon.cufon-canvas{:alt => "3", :style => "width: 10px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 20px; height: 19px; top: -1px; left: -2px; ", :width => "20"}
              %cufontext 3
        %li#menu-item-149.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-149
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Type ", :style => "width: 42px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 57px; height: 19px; top: -1px; left: -2px; ", :width => "57"}
              %cufontext Type
            %cufon.cufon.cufon-canvas{:alt => "4", :style => "width: 10px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 20px; height: 19px; top: -1px; left: -2px; ", :width => "20"}
              %cufontext 4
        %li#menu-item-148.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-148
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Type ", :style => "width: 42px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 57px; height: 19px; top: -1px; left: -2px; ", :width => "57"}
              %cufontext Type
            %cufon.cufon.cufon-canvas{:alt => "5", :style => "width: 10px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 20px; height: 19px; top: -1px; left: -2px; ", :width => "20"}
              %cufontext 5
    %li#menu-item-44.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-44
      %a{:href => "#"}
        %cufon.cufon.cufon-canvas{:alt => "Blog", :style => "width: 35px; height: 18px; "}
          %canvas{:height => "19", :style => "width: 44px; height: 19px; top: -1px; left: -2px; ", :width => "44"}
          %cufontext Blog
    %li#menu-item-157.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-157
      %a
        %cufon.cufon.cufon-canvas{:alt => "Gallery", :style => "width: 55px; height: 18px; "}
          %canvas{:height => "19", :style => "width: 66px; height: 19px; top: -1px; left: -2px; ", :width => "66"}
          %cufontext Gallery
      %ul.sub-menu{:style => "display: none; "}
        %li#menu-item-159.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-159
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Type ", :style => "width: 42px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 57px; height: 19px; top: -1px; left: -2px; ", :width => "57"}
              %cufontext Type
            %cufon.cufon.cufon-canvas{:alt => "1", :style => "width: 10px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 20px; height: 19px; top: -1px; left: -2px; ", :width => "20"}
              %cufontext 1
        %li#menu-item-158.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-158
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Type ", :style => "width: 42px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 57px; height: 19px; top: -1px; left: -2px; ", :width => "57"}
              %cufontext Type
            %cufon.cufon.cufon-canvas{:alt => "2", :style => "width: 10px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 20px; height: 19px; top: -1px; left: -2px; ", :width => "20"}
              %cufontext 2
    %li#menu-item-205.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-205
      %a{:href => "#"}
        %cufon.cufon.cufon-canvas{:alt => "Backgrounds", :style => "width: 102px; height: 18px; "}
          %canvas{:height => "19", :style => "width: 113px; height: 19px; top: -1px; left: -2px; ", :width => "113"}
          %cufontext Backgrounds
      %ul.sub-menu{:style => "display: none; "}
        %li#menu-item-208.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-206.current_page_item.menu-item-208
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Slideshow", :style => "width: 79px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 85px; height: 19px; top: -1px; left: -2px; ", :width => "85"}
              %cufontext Slideshow
        %li#menu-item-209.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-209
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Vimeo ", :style => "width: 56px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 70px; height: 19px; top: -1px; left: -2px; ", :width => "70"}
              %cufontext Vimeo
            %cufon.cufon.cufon-canvas{:alt => "Video", :style => "width: 46px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 55px; height: 19px; top: -1px; left: -2px; ", :width => "55"}
              %cufontext Video
        %li#menu-item-210.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-210
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "HTML5 ", :style => "width: 61px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 76px; height: 19px; top: -1px; left: -2px; ", :width => "76"}
              %cufontext HTML5
            %cufon.cufon.cufon-canvas{:alt => "Video", :style => "width: 46px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 55px; height: 19px; top: -1px; left: -2px; ", :width => "55"}
              %cufontext Video
    %li#menu-item-276.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-276
      %a{:href => "#"}
        %cufon.cufon.cufon-canvas{:alt => "Shortcodes", :style => "width: 88px; height: 18px; "}
          %canvas{:height => "19", :style => "width: 99px; height: 19px; top: -1px; left: -2px; ", :width => "99"}
          %cufontext Shortcodes
    %li#menu-item-230.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-230
      %a
        %cufon.cufon.cufon-canvas{:alt => "Skins", :style => "width: 40px; height: 18px; "}
          %canvas{:height => "19", :style => "width: 52px; height: 19px; top: -1px; left: -2px; ", :width => "52"}
          %cufontext Skins
      %ul.sub-menu{:style => "display: none; "}
        %li#menu-item-231.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-231
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Dark", :style => "width: 37px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 48px; height: 19px; top: -1px; left: -2px; ", :width => "48"}
              %cufontext Dark
        %li#menu-item-232.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-232
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Light", :style => "width: 40px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 53px; height: 19px; top: -1px; left: -2px; ", :width => "53"}
              %cufontext Light
    %li#menu-item-233.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-233
      %a
        %cufon.cufon.cufon-canvas{:alt => "Fonts", :style => "width: 43px; height: 18px; "}
          %canvas{:height => "19", :style => "width: 55px; height: 19px; top: -1px; left: -2px; ", :width => "55"}
          %cufontext Fonts
      %ul.sub-menu{:style => "display: none; "}
        %li#menu-item-234.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-234
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Segan", :style => "width: 49px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 58px; height: 19px; top: -1px; left: -2px; ", :width => "58"}
              %cufontext Segan
        %li#menu-item-235.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-235
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Bebas", :style => "width: 47px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 59px; height: 19px; top: -1px; left: -2px; ", :width => "59"}
              %cufontext Bebas
        %li#menu-item-236.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-236
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Surface", :style => "width: 59px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 69px; height: 19px; top: -1px; left: -2px; ", :width => "69"}
              %cufontext Surface
        %li#menu-item-237.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-237
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Vegur", :style => "width: 48px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 61px; height: 19px; top: -1px; left: -2px; ", :width => "61"}
              %cufontext Vegur
        %li#menu-item-238.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-238
          %a{:href => "#"}
            %cufon.cufon.cufon-canvas{:alt => "Yanone", :style => "width: 59px; height: 18px; "}
              %canvas{:height => "19", :style => "width: 69px; height: 19px; top: -1px; left: -2px; ", :width => "69"}
              %cufontext Yanone
    %li#menu-item-184.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-184
      %a{:href => "#"}
        %cufon.cufon.cufon-canvas{:alt => "Contact", :style => "width: 62px; height: 18px; "}
          %canvas{:height => "19", :style => "width: 75px; height: 19px; top: -1px; left: -2px; ", :width => "75"}
          %cufontext Contact
  %ul#social_icons
    %li
      %a{:href => "", :target => "_blank", :title => "digg"}
        %img{:src => "http://pixelthemes.net/flipbook/wp-content/themes/flipbook/images/social_icons/digg.png"}/
    %li
      %a{:href => "", :target => "_blank", :title => "facebook"}
        %img{:src => "http://pixelthemes.net/flipbook/wp-content/themes/flipbook/images/social_icons/facebook.png"}/
    %li
      %a{:href => "", :target => "_blank", :title => "flickr"}
        %img{:src => "http://pixelthemes.net/flipbook/wp-content/themes/flipbook/images/social_icons/flickr.png"}/
    %li
      %a{:href => "", :target => "_blank", :title => "twitter"}
        %img{:src => "http://pixelthemes.net/flipbook/wp-content/themes/flipbook/images/social_icons/twitter.png"}/
  %form#searchform{:action => "http://pixelthemes.net/flipbook", :method => "get"}
    %input#s.text_input.text{:name => "s", :onblur => "if (this.value == '') {this.value = 'Search...';}", :onfocus => "if(this.value == 'Search...') {this.value = '';}", :type => "text", :value => "Search..."}/
  #close_btn_header
