/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


body {
  background:transparent url(../images/dark/bg.png);
  color:#dfdfdf;
}

h1,h2,h3,h4,h5,h6 {
  color:#fff;
}

#header {
  border-right:3px solid #393939;
  background:transparent url(/images/header/bg.png);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 169px;
  z-index: 5;
  margin: 0;
  overflow: visible;

  #logo {
    position: absolute;
    left: 30px;
    top: 90px;
  }

}

#nav {
  margin-top: 260px;
  text-align: right;
  margin-right: 0px;
}
ol, ul {
  list-style: none;
}